{% extends 'admin/change_list.html' %}

{% block object-tools %}
<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <form action="import-csv/" enctype="multipart/form-data" method="POST">
        <input accept=".csv, application/vnd.ms-excel" id="fileSelect"
               name="file"
               type="file"/>
        {% csrf_token %}
        <button type="submit">Upload csv/xls</button>
    </form>
</div></br>
{{ block.super }}
{% endblock %}
